* {
  font-family: "Times New Roman", Times, serif;
  background-color: lightgray;
  margin: 0;
  padding: 0;
}

.app {
}

.app h1 {
  color: rgb(243, 59, 243);
  text-align: center;
}

.app p {
  text-align: center;
  margin: 0;
  padding: 0;
  color: rgb(0, 0, 0);
}
