* {
  font-family: "Times New Roman", Times, serif;
  background-color: rgb(207, 252, 229);
  margin: 0;
  padding: 0;
}

.app {
}

.app h1 {
  color: rgb(243, 59, 243);
  text-align: center;
}

.app p {
  text-align: center;
  margin: 0;
  padding: 0;
  color: rgb(0, 0, 0);
}

#question {
  text-align: center;
  color: rgb(0, 0, 0);
}

.answer-btn {
  height: 85px;
  width: 700px;
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #ffffff;
  border: black solid 1px;
  font-weight: bold;
  color: rgb(0, 0, 0);
  border-radius: 5px;
  cursor: pointer;
}

.answer-btn:hover {
  background-color: #92c7f3;
  color: rgb(255, 255, 255);
}

.next-btn {
  height: 50px;
  width: 150px;
  display: none;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #ffffff;
  border: black solid 1px;
  font-weight: bold;
  color: rgb(0, 0, 0);
  border-radius: 5px;
  cursor: pointer;
}

.next-btn:hover {
  background-color: #92c7f3;
  color: rgb(255, 255, 255);
}