* {
  font-family: "Times New Roman", Times, serif;
  background-color: rgb(207, 252, 229);
  margin: 0;
  padding: 0;
}

.header h1 {
  color: rgb(0, 0, 0);
  text-align: center;
}

.app p {
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 24px;
  color: rgb(0, 0, 0);
}

#tutorial-dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(207, 252, 229);
  border: rgb(0, 0, 0) solid 1px;
  padding: 20px;
  z-index: 1000;
}

.tutorial-popup p .red {
  color: #f44336;
}

.tutorial-popup p .green {
  color: #58fb5d;
}

#close-btn {
  height: 40px;
  width: 80px;
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #000000;
  border: rgb(207, 252, 229) solid 1px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  border-radius: 5px;
  cursor: pointer;
  float: right;
}

#question {
  text-align: center;
  color: rgb(0, 0, 0);
}

#tutorial-btn {
  height: 50px;
  width: 150px;
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #ffffff;
  border: rgb(0, 0, 0) solid 1px;
  font-weight: bold;
  color: rgb(0, 0, 0);
  border-radius: 5px;
  cursor: pointer;
}

#tutorial-btn:hover {
  background-color: #92c7f3;
  color: rgb(255, 255, 255);
  transition: 0.3s;
}

#start-btn {
  height: 50px;
  width: 150px;
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #ffffff;
  border: rgb(0, 0, 0) solid 1px;
  font-weight: bold;
  color: rgb(0, 0, 0);
  border-radius: 5px;
  cursor: pointer;
}

#start-btn:hover {
  background-color: #92c7f3;
  color: rgb(255, 255, 255);
  transition: 0.3s;
}

.btn {
  height: 85px;
  width: 700px;
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #ffffff;
  border: black solid 1px;
  font-weight: bold;
  color: rgb(0, 0, 0);
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover:not([disabled]) {
  background-color: #92c7f3;
  color: rgb(255, 255, 255);
  transition: 0.3s;
}

.btn:disabled {
  cursor: no-drop;
}

#next-btn {
  height: 50px;
  width: 150px;
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #ffffff;
  border: rgb(0, 0, 0) solid 1px;
  font-weight: bold;
  color: rgb(0, 0, 0);
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#fact {
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 20px;
  margin-top: 20px;
  margin-top: 20px;
}

#next-btn:hover {
  background-color: #92c7f3;
  color: rgb(255, 255, 255);
  transition: 0.3s;
}

.correct {
  background-color: #58fb5d;
  color: white;
}

.incorrect {
  background-color: #f44336;
  color: white;
}

/* Medium devices (landscape tablets, 768px and fewer) */
@media only screen and (max-width: 768px) {
  .btn {
    width: 100px;
  }
  #tutorial-dialog {
    width: 350px;
  }
}
